 ###################################################################
# - This is a config file for the program getKL.                    #
# - Program parameters are identified by the colon that follows it  #
#   (so do not use it for anything else!).                          #
# - Parameters must be followed by their values which can be a      #
#   string or a sequence of up to 3 int, double or char variables.  #
#   Such sequences cannot mix different types.                      #
# - In case of a string with spaces, nothing can appear after it.   #
# - Another input type is the full line as a string.                #
# - Any other symbol or position of keywords and text are           #
#   completely arbitrary and chosen for aesthetic reasons.          #
#                                                                   #
# - All parameters used by the program should be listed here since  # 
#   there are no hard-wired default values.                         #
# - Addition/removal/modification of parameters in this file must   #
#   be followed by a modification of ParDef namespace in the        #
#   ParameterList.hpp file.                                         #
 ###################################################################  


LMAX:         2                                     # Maximum multipole used in sph. wave decomposition.
FULLCOV:      1					    # Whether (1) or not (0) to fill upper part of cov. matrix. w/ conj. transpose.

ANGULAR_MAP:  ../data/0p1cut-boss_survey_Ns128.fits # Angular completeness mask, including systematic effects.

ALM_OUT:      0  				    # Multipoles of the binary mask above.
ANGCOV_OUT:   0 ang-cov.dat			    # Covariance matrix of the angular part of the noise.
