 ###################################################################
# - This is a config file for the program getKL.                    #
# - Program parameters are identified by the colon that follows it  #
#   (so do not use it for anything else!).                          #
# - Parameters must be followed by their values which can be a      #
#   string or a sequence of up to 3 int, double or char variables.  #
#   Such sequences cannot mix different types.                      #
# - In case of a string with spaces, nothing can appear after it.   #
# - Another input type is the full line as a string.                #
# - Any other symbol or position of keywords and text are           #
#   completely arbitrary and chosen for aesthetic reasons.          #
#                                                                   #
# - All parameters used by the program should be listed here since  # 
#   there are no hard-wired default values.                         #
# - Addition/removal/modification of parameters in this file must   #
#   be followed by a modification of ParDef namespace in the        #
#   ParameterList.hpp file.                                         #
 ###################################################################  


# Cosmology

OMEGA_m:      0.27
OMEGA_L:      0.73
W_de:        -1

# Specification of logarithmic spherical wave modes

LMAX:          10                                   # Maximum multipole used in sph. wave decomposition.


# Selection function

COMPLETE_MAP:  ../data/boss_survey_Ns128.fits	    # Angular completeness mask, including systematic effects.
Z_DIST:        ../data/nz_DR12v5_CMASS_North.dat    # Radial part (gals/arcmin2/dz) of the expected Poisson Noise.


# Outputs

EXIT_AT:       0				    # At which output to exit the program.
GALDENS_OUT:   0				    # Avg. gal. density, derived from Z_DIST.
NOISEMAP_OUT:  0				    # Angular part of the Poisson noise.
COVMATRIX_OUT: 0				    # Output file for the angular covariance matrix.
