 ###################################################################
# - This is a config file for the program getKL.                    #
# - Program parameters are identified by the colon that follows it  #
#   (so do not use it for anything else!).                          #
# - Parameters must be followed by their values which can be a      #
#   string or a sequence of up to 3 int, double or char variables.  #
#   Such sequences cannot mix different types.                      #
# - In case of a string with spaces, nothing can appear after it.   #
# - Another input type is the full line as a string.                #
# - Any other symbol or position of keywords and text are           #
#   completely arbitrary and chosen for aesthetic reasons.          #
#                                                                   #
# - All parameters used by the program should be listed here since  # 
#   there are no hard-wired default values.                         #
# - Addition/removal/modification of parameters in this file must   #
#   be followed by a modification of ParDef namespace in the        #
#   ParameterList.hpp file.                                         #
 ###################################################################  


# Cosmology

OMEGA_m:      0.27				    # Matter density parameter, used to go from gal. z dist. to gal. density.
OMEGA_L:      0.73				    # Dark energy density parameter, used to go from gal. z dist. to gal. density.
W_de:        -1					    # Dark energy equation of estate, used to go from gal. z dist. to gal. density.

# Specification of logarithmic spherical wave modes

QMAX:          1				    # Maximum index for the radial modes (# of radial modes is 2*QMAX+1).
LMAX:          2                                    # Maximum multipole used in sph. wave decomposition.
TRAFO_ZRANGE:  0.43 0.7			            # Redshift range used for radial integrations.

# Selection function

COMPLETE_MAP:  ../data/0p1cut-boss_survey_Ns128.fits # Angular completeness mask, including systematic effects.
Z_DIST:        ../data/nz_DR12v5_CMASS_North.dat    # Radial part (gals/arcmin2/dz) of the expected Poisson Noise.
SELEC_SCALE:   1.0				    # Re-scaling the selection function.
SEL_ZRANGE:    0.43 0.7				    # Redshift range of the selected galaxies.

# Outputs

EXIT_AT:       COVMATRIX_OUT			    # At which output to exit the program.

GALDENS_OUT:   0 dens2.dat			    # Avg. gal. density, derived from Z_DIST.
RADNOISE_OUT:  0 noise.dat			    # Radial term for Poisson noise. 
ZZR2_OUT:      0 zzr2-test.dat			    # Result of the radial transform of the Poisson Noise.
NOISEMAP_OUT:  0				    # Angular part of the Poisson noise.
MASK_OUT:      0 binary.fits			    # Binary mask derived from completeness map.
MASK_ALM_OUT:  0 				    # Multipoles of the binary mask above.
COVCONST_OUT:  0 iwlmConst.dat			    # Constant part of cov. matrix from not subtracting the mean density.
ANGCOV_OUT:    0 ang-cov.dat			    # Covariance matrix of the angular part of the noise.
COVMATRIX_OUT: temp.dat				    # Output file for the angular covariance matrix.
